*.pyc
*.bin
__pycache__
.pytest_cache
.idea
.vs
.DS_Store
*.log
*~
*.swp
*.o
*.so
models
*.onnx
*.torch
*.mp4
*.webm
*.dll
*.so
*.a
*.torch
Debug
x64
Release
core
build
*.traced
